@using AI070.Models;
@using AI070.Models.Shared;
@using AI070.Models.WP02002Master;
@{
}
    <div class="row">
        <div class="col-lg-6">
            <label class="section-title">
                <u>Additional Info</u>
            </label>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="section-wrapper">
            <div class="row ">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Photo</label>
                        <br /><span>Uploaded Photo :</span>
                        <a target="_blank" href="" id="LinkPhoto"></a>
                        <input type="file" id="SupportPhoto" accept="image/png, image/jpeg" />
                    </div>
                    <div class="form-group">
                        <label>Document</label>
                        <br /><span>Uploaded Doc :</span>
                        <a target="_blank" href="" id="LinkDoc"></a>
                        <input type="file" id="SupportDoc" accept=".doc,.docx,.pdf" />
                    </div>

                    <div class="form-group">
                        <label>Rating Company <span style="color:red">*</span></label>
                        <div id="rateCompany" class="rateyo"></div>
                    </div>

                    <div class="form-group">
                        <label>Evaluation Notes<span style="color:red">*</span></label>
                        <textarea class="form-control" id="EVALUATION_NOTES" rows="3" maxlength="1000"></textarea>
                    </div>
                </div>

            </div>
        </div>
    </div>
<input type="text" style="display:none" id="CurrentIncidentID" value="0" />
<input type="text" style="display:none" id="CurrentIncidentFile" value="0" />