@using AI070.Models;
@using AI070.Models.Shared;
@using AI070.Models.DISA150001Master;
@{
    //List<DivisionModel> Division = (List<DivisionModel>)ViewData["Division"];
    //List<StatusModel> Status = (List<StatusModel>)ViewData["Status"];
    //List<CompanyModel> Companys = (List<CompanyModel>)ViewData["COMPANY"];
}

<style>
    #tableSearch {
        border-spacing: 10px;
        border-collapse: separate;
    }

    .section-pagetitle {
        margin-top: 15px;
        margin-bottom: 10px;
        color: #343a40;
        padding-left: 10px;
        border-left: 4px solid #4662D4;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: .5px;
    }
</style>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-11" style="margin-left: 20px;">
        <div class="section-pageheader">
            <h6 class="section-pagetitle"><strong>MASTER UNIT PRICE</strong></h6>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form" class="form-horizontal" id="searchForm">
                    <div class="row" style="margin-bottom: -25px;margin-top: -10px">
                        <div class="col-md-12">
                            <table id="tableSearch" style="width:100%">
                                <tr>
                                    <td><strong>ITEM CODE :</strong></td>
                                    <td>
                                        <input id="searchItemCode" type="text" class="form-control" />
                                    </td>
                                    <td><strong>NAMA ITEM :</strong></td>
                                    <td>
                                        <input id="searchNameItem" type="text" class="form-control" />
                                    </td>                                                                       

                                    <td style="text-align:right;padding:0!important">
                                        <img id="_reloading" src="Content/Bootstrap/img/loading.gif" alt="Please Wait" style="width: 30px; height: 30px; margin-right: 4px; opacity: 0;" />
                                        <button type="button" class="btn btn-primary btn-xs" id="btn_search_UnitPrice" style="width: 80px;"><i class="fa fa-search"></i> Search</button>
                                        <button type="button" onclick="clear_search_UnitPrice()" class="btn btn-grey btn-xs" style="width: 80px;"><i class="fa fa-eraser"></i> Clear</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="hr hr-10" style="margin-bottom: 10px"></div>
                        <div class="col-xs-12 col-sm-12 col-md-7">
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-5 text-right">
                            <img id="_reloading" src="Content/Bootstrap/img/loading.gif" alt="Please Wait" style="width: 30px; height: 30px; margin-right: 4px; opacity: 0;" />
                            <button type="button" class="btn btn-primary btn-xs" id="btn_new" style="width: 80px;" onclick=""><i class="fa fa-plus"></i> New</button>
                            <button type="button" class="btn btn-primary btn-xs" id="btn_edit" style="width: 80px;" onclick=""><i class="fa fa-pencil-square-o"></i> Edit</button>
                            <button type="button" class="btn btn-danger btn-xs" id="btn_Delete" style="width: 80px;" onclick=""><i class="fa fa-trash-o"></i> Delete</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
