
@using AI070.Models;
@using AI070.Models.Shared;
@using AI070.Models.WP03008Master;
@{
    List<DivisionModel> Division = (List<DivisionModel>)ViewData["Division"];
    List<StatusModel> Status = (List<StatusModel>)ViewData["Status"];
    List<CompanyModel> Companys = (List<CompanyModel>)ViewData["COMPANY"];
}

<style>
    #tableSearch {
        border-spacing: 10px;
        border-collapse: separate;
    }
</style>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-11" style="margin-top: -13px; margin-left: 10px;">
        <label class="control-label text-muted"><h2>@ViewData["Title"]</h2></label>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form" class="form-horizontal" id="searchForm">
                    <div class="row" style="margin-bottom: -25px;margin-top: -10px">
                        <div class="col-md-12">
                            <table id="tableSearch" style="width:100%">
                                <tr>
                                    <td>Employee Name : </td>
                                    <td>
                                        <input id="searchEmployeeName" type="text" class="form-control" />
                                    </td>
                                    <td>Identity Number : </td>
                                    <td>
                                        <input id="searchIdentityNumber" type="text" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>Safety Induction No : </td>
                                    <td>
                                        <input id="searchInductionNo" type="text" class="form-control" />
                                    </td>
                                    <td></td>
                                    <td style="text-align:right;padding:0!important">
                                        <img id="_reloading" src="Content/Bootstrap/img/loading.gif" alt="Please Wait" style="width: 30px; height: 30px; margin-right: 4px; opacity: 0;" />
                                        <button type="button" class="btn btn-primary btn-xs" id="btn_search" style="width: 80px;"><i class="fa fa-search"></i> Search</button>
                                        <button type="button" onclick="clear_search()" class="btn btn-grey btn-xs" id="btn_clear" style="width: 80px;" onclick="clear_search"><i class="fa fa-eraser"></i> Clear</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="hr hr-10" style="margin-bottom: 10px"></div>
                        <div class="col-xs-12 col-sm-12 col-md-7">
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-5 text-right">
                            <img id="_reloading" src="Content/Bootstrap/img/loading.gif" alt="Please Wait" style="width: 30px; height: 30px; margin-right: 4px; opacity: 0;" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>