<table border="1">
    <thead>
        <th>No.</th>
        <th>Link</th>
    </thead>
    <tr>
        <td>1</td>
        <td>
            <a href="../DTIDashboardList/rtjn_dashboard_output_produksi">Dashboard Output Production (RTJN)</a>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>
            <a href="../DTIDashboardList">Dashboard XYZ</a>
        </td>
    </tr>
</table>