<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configuration-item>
		<key>Localhost</key>
		<value>
			<ConnectionString>Server=DESKTOP-O577D95;Initial Catalog=AB070_DB;</ConnectionString>
			<IsDefault>true</IsDefault>
			<Provider>System.Data.SqlClient</Provider>
		</value>
		<description>Local Database</description>
	</configuration-item>
	<configuration-item>
		<key>RTJN_PRD_3</key>
		<value>
			<ConnectionString>Server=DESKTOP-O577D95;Initial Catalog=RTJN_PRD_3;</ConnectionString>
			<IsDefault>true</IsDefault>
			<Provider>System.Data.SqlClient</Provider>
		</value>
		<description>Database RTJN</description>
	</configuration-item>
	<configuration-item>
		<key>TxDTIPRD_4</key>
		<value>
			<ConnectionString>Server=DESKTOP-O577D95;Initial Catalog=TxDTIPRD_4;</ConnectionString>
			<IsDefault>true</IsDefault>
			<Provider>System.Data.SqlClient</Provider>
		</value>
		<description>Database Tpics</description>
	</configuration-item>
	<configuration-item>
		<key>TxDTIPRD_10</key>
		<value>
			<ConnectionString>Server=DESKTOP-O577D95;Initial Catalog=TxDTIPRD_10;</ConnectionString>
			<IsDefault>true</IsDefault>
			<Provider>System.Data.SqlClient</Provider>
		</value>
		<description>Database Addons</description>
	</configuration-item>
</configuration>