@using AI070.Models;
@using AI070.Models.Shared;
@using AI070.Models.DISA150001Master;
@{
    List<DISA150001Detail> ListDmcType = (List<DISA150001Detail>)ViewData["dmc_type"];
}



<style>
    #tableSearch {
        /*border-spacing: 5px;*/
        border-collapse: separate;
        margin-top: 25px;
    }

    #btn_close {
        float: left;
        /*position: absolute;*/
        /*margin-right: -80px;*/
        margin-top: 20px;
    }

   
</style>

<div class="row">
    @*<div class="col align-right align-bottom">
            <button type="button" class="btn btn-danger btn-sm btn-close" id="btn_close" onclick="back_menu()"><i class="fa fa-close"></i></button>
        </div>*@
    <div class="col-xs-12 col-sm-12 col-md-11" style="margin-top: -13px; margin-left: 10px;">
        <button type="button" class="btn btn-danger btn-sm btn-close" id="btn_close" onclick="back_menu()"><i class="fa fa-close"></i></button>&nbsp;
        <label class="control-label text-muted"><h2>@ViewData["Title"]</h2></label>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form" class="form-horizontal" id="searchForm">
                    <div class="row" style="margin-bottom: -25px;margin-top: -10px">
                        <div class="col-md-12">
                            <table id="tableSearch" style="width:100%">
                                <tr>
                                    <td>
                                        <strong>DMC TYPE :</strong>
                                        <input id="searchDmcType" type="text" class="form-control" />
                                    </td>

                                    <td>
                                        <strong>CUSTOMER :</strong>
                                        <input id="searchCustomer" type="text" class="form-control" />
                                    </td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-primary btn-xs" id="btn_search_proCost" style="width: 80px;"><i class="fa fa-search"></i> Show</button>
                                        <button type="button" onclick="clear_search_proCost()" class="btn btn-grey btn-xs" id="btn_clear_proCost" style="width: 80px;"><i class="fa fa-eraser"></i> Clear</button>
                                    </td>
                                </tr>
                                <tr>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="hr hr-20" style="margin-bottom: -10px"></div>

                        <div class="row">
                            <div class="col-md-5">
                                <table id="tableSearch" style="width:100%">
                                    <tr>
                                        <td>
                                            <input type="checkbox" id="checkAllType" />
                                        </td>
                                        <td>
                                            <select id="cmb_type" name="dropdown">
                                                <option id="cmb_type" value="pertype"> PER-TYPE </option>
                                                <option id="cmb_type" value="alltype"> ALL TYPE </option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-control select2" id="PilihDmcCode" required>
                                                <option value="" selected="selected" style="font-style: italic; color: gray"> --- PILIH DMC Code --- </option>
                                                @{
                                                    if (ListDmcType != null)
                                                    {
                                                        if (ListDmcType.Count() > 0)
                                                        {
                                                            foreach (DISA150001Detail item in ListDmcType)
                                                            {
                                                                <option value="@item.DMC_TYPE">@item.DMC_TYPE</option>
                                                            }
                                                        }
                                                    }
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-yellow btn-xs" id="btn_kalkulasi" style="width: 90px;"><i class="fa fa-calculator"></i> Calculate</button>
                                            <button type="button" class="btn btn-danger btn-xs" id="btn_Delete" style="width: 80px;" onclick=""><i class="fa fa-trash-o"></i> Delete</button>
                                            <button type="button" class="bn btn-success btn-xs" id="btn_download" style="width: 100px;" onclick=""><i class="fa fa-print"></i> Download </button>
                                        </td>
                                    </tr>
                                    <tr>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        @*<div class="row">
                                <div class="col-md-2">
                                    &nbsp;&nbsp;
                                    <input type="checkbox" id="checkAllType" style="margin-left:-20px;width: 45px; height: 15px; background: #555; border-radius: 5px;" />
                                </div>
                                <div class="col-md-4">
                                    <select id="cmb_type" name="dropdown">
                                        <option id="cmb_type" value="per-type"> PER-TYPE </option>
                                        <option id="cmb_type" value="all-type"> ALL TYPE </option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <select class="form-control select2" id="addNik" required>
                                        <option value="" selected="selected" style="font-style: italic; color: gray"> --- Pilih Nik --- </option>
                                    </select>
                                </div>


                                <div class="col-md-4">
                                    <img id="_reloading" src="Content/Bootstrap/img/loading.gif" alt="Please Wait" style="width: 30px; height: 30px; margin-right: 4px; opacity: 0;" />
                                    <button type="button" class="btn btn-yellow btn-xs" id="btn_kalkulasi" style="width: 90px;"><i class="fa fa-calculator"></i> Calculate</button>
                                    <button type="button" class="bn btn-success btn-xs" id="btn_download" style="width: 100px;" onclick=""><i class="fa fa-print"></i> Download </button>
                                </div>
                            </div>*@



                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

