@using AI070.Models;
@using AI070.Models.Shared;
@using AI070.Models.DISA100001Master;
@{
    List<DISA100001Master> DataWP = (List<DISA100001Master>)ViewData["DataDISA100001"];
    List<DISA100001> Status_Cmb = (List<DISA100001>)ViewData["Status_Cmb"];
    List<DISA100001> Time_Cmb = (List<DISA100001>)ViewData["Time_Cmb"];
    List<DISA100001> ExecTime_Cmb = (List<DISA100001>)ViewData["Time_Cmb"];
    List<DISA100001> Model_type = (List<DISA100001>)ViewData["Model_type"];
    //List<DivisionModel> Division = (List<DivisionModel>)ViewData["Division"];
    //List<StatusModel> Status = (List<StatusModel>)ViewData["Status"];
    //List<CompanyModel> Companys = (List<CompanyModel>)ViewData["COMPANY"];
}

<style>
    #tableSearch {
        border-spacing: 10px;
        border-collapse: separate;
    }
</style>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-11" style="margin-top: -13px; margin-left: 10px;">
        <h2>@ViewData["Title1"]</h2>
    </div>
</div>

<div id="formSearch" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form" class="form-horizontal" id="searchForm">
                    <div class="row" style="margin-bottom: -25px;margin-top: -10px">
                        <div class="col-md-12">
                            <table id="tableSearch" style="width:100%">
                                <tr>
                                    <td>NO. REQUEST: </td>
                                    <td>
                                        <input id="searchNoReq" type="text" class="form-control" />
                                    </td>
                                    <td>NAMA ASSET: </td>
                                    <td>
                                        <input id="searchNamaAsset" type="text" class="form-control" />
                                    </td>
                                    @*<td>TANGGAL REQUEST: </td>
                                    <td>
                                        <input id="searchTglReq" type="date" class="form-control" />
                                    </td>*@
                                </tr>
                                <tr>
                                    <td>PIC REQUEST: </td>
                                    <td>
                                        <input id="searchPicRequest" type="text" class="form-control" />
                                    </td>
                                    <td>DEPT. REQUEST: </td>
                                    <td>
                                        <select class="form-control" id="searchDeptRequest" name="dropdown">
                                            <option id="searchDeptRequest" value="">----- ALL -----</option>
                                            <option id="searchDeptRequest" value="ACC">ACC</option>
                                            <option id="searchDeptRequest" value="BP">BP</option>
                                            <option id="searchDeptRequest" value="CMS">CMS</option>
                                            <option id="searchDeptRequest" value="GO">GO</option>
                                            <option id="searchDeptRequest" value="ME">ME</option>
                                            <option id="searchDeptRequest" value="MNF">MNF</option>
                                            <option id="searchDeptRequest" value="RND">RND</option>
                                            <option id="searchDeptRequest" value="QA/QC">QA/QC</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ID. PR: </td>
                                    <td>
                                        <input id="searchIdPR" type="text" class="form-control" />
                                    </td>
                                    <td>STATUS REQUEST : </td>
                                    <td>
                                        <select class="form-control" id="searchStatusRequest" name="dropdown">
                                            <option id="searchStatusRequest" value="">----- ALL -----</option>
                                            <option id="searchStatusRequest" value="ACKNOWLEDGE">ACKNOWLEDGE</option>
                                            <option id="searchStatusRequest" value="ASSET IN">ASSET IN</option>
                                            <option id="searchStatusRequest" value="CANCEL">CANCEL</option>
                                            <option id="searchStatusRequest" value="COMPLETED">COMPLETED</option>
                                            <option id="searchStatusRequest" value="ON PROGRESS">ON PROGRESS CREATE PR</option>
                                            <option id="searchStatusRequest" value="RECEIVED GOODS">RECEIVED GOODS</option>
                                        </select>
                                    </td>
                                    @*<td>TANGGAL PR: </td>
                                    <td>
                                        <input id="searchTglPR" type="date" class="form-control" />
                                    </td>*@
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div style="margin-bottom: 10px"></div>
                        <div class="col-xs-12 col-sm-12 col-md-4">

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-8 text-right">
                            <button type="button" class="btn btn-primary btn-xs" id="btn_search" style="width: 80px;"><i class="fa fa-search"></i> Search</button>
                            <button type="button" onclick="clear_search()" class="btn btn-grey btn-xs" id="btn_clear" style="width: 80px;"><i class="fa fa-eraser"></i> Clear</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="hr hr-10" style="margin-bottom: 10px"></div>
                        <div class="col-xs-12 col-sm-12 col-md-7 text-left" style="">
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-5 text-right">
                            <button type="button" class="btn btn-primary btn-xs" id="btn_new" style="width: 80px;" onclick="showAdd()"><i class="fa fa-plus"></i> New</button>
                            <button type="button" class="btn btn-primary btn-xs" id="btn_edit" style="width: 80px;" onclick=""><i class="fa fa-pencil-square-o"></i> Edit</button>
                            <button type="button" class="btn btn-danger btn-xs" id="btn_Cancel" style="width: 80px; display:none" onclick=""><i class="fa fa-close"></i> Cancel</button>
                            <button type="button" class="btn btn-danger btn-xs" id="btn_Delete" style="width: 80px;" onclick=""><i class="fa fa-trash-o"></i> Delete</button>
                            <button type="button" class="bn btn-success btn-xs" id="btn_download" style="width: 100px;" onclick=""><i class="fa fa-print"></i> Download </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

