<style>

    .container-panel {
        margin: 2px;
        padding: 2px;
    }

    .data-header{
        font-size:25px;
        font-weight: 800;
        text-align:center;
    }

    @@media only screen and (max-width: 600px) {
        .panel-member {
            min-height:600px;
            padding: 0px;
            margin: 5px;
            height: 100%;
        }
    }

    @@media only screen and (min-width: 600px) {
        .panel-member {
            min-height: 550px;
            padding: 0px;
            margin: 5px;
            height: 100%;
        }
    }

    .panel-body{
        margin-top: -10px;
        padding:0;
        font-size: 800;
    }

    .zero-padding{
        margin:0;
        padding:0;
    }


</style>

<div id="data-container" style="display:none">
    <div class="container-fluid container-panel">
        <div class="row zero-padding">
            <div class="col-sm-12 col-md-12 zero-padding">
                <div class="panel panel-member">
                    <div class="pull-left button-back">
                        <button class="btn btn-danger btn-sm"><i class="fa fa-arrow-circle-left"></i></button>
                    </div>
                    <div class="panel-body">
                        @Html.Partial("CardContractor")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="scan-container" style="display:none">
    <div class="container-fluid container-panel">
        <div class="row zero-padding">
            <div class="col-sm-12 col-md-12 zero-padding">
                <div class="panel panel-member">
                    <div class="pull-left button-back">
                        <button class="btn btn-danger btn-sm"><i class="fa fa-arrow-circle-left"></i></button>
                    </div>
                    <div class="panel-body">
                        @Html.Partial("CardScan")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
